/* Imports */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  background: #E4E6E7;
  color: #7F8FA3;
  font-family: "Roboto", sans-serif; }

header {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  background: #08274D;
  height: 70px;
  position: relative;
  width: 100%; }
  header .logo {
    background: #FC3C2D url("../images/logo.png") 0px -11px;
    color: transparent;
    height: 70px;
    text-align: center;
    width: 152px; }
  header nav {
    padding-left: 24px;
    font-size: 14px; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin-right: 24px; }
        header nav ul li a {
          border-bottom: 4px solid #08274D;
          color: #7F8FA3;
          display: block;
          padding: 26px 0px 24px;
          text-decoration: none; }
          header nav ul li a:hover, header nav ul li a:active {
            border-bottom: 4px solid #FC3C2D;
            color: #fff; }
  header .search {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin-top: 17px;
    padding: 9px 15px;
    width: 240px; }
    header .search:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: none; }
    header .search::after {
      content: url("../images/downArrow.png");
      height: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 9px;
      z-index: 2; }
  header .profile {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 20px;
    margin: 25px 30px 25px 25px;
    padding-left: 27px;
    position: relative;
    text-align: right; }
    header .profile .message {
      color: #7F8FA3;
      display: inline-block;
      font-size: 14px;
      position: relative;
      top: -14px; }
      header .profile .message:hover {
        color: #fff; }
    header .profile .user {
      color: #7F8FA3;
      display: inline-block;
      font-size: 14px;
      padding: 0px 18px 0px 18px;
      position: relative; }
      header .profile .user img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        height: 36px;
        margin-top: -8px;
        width: 36px; }
      header .profile .user span {
        display: inline-block; }
        header .profile .user span::after {
          content: url("../images/downArrow.png");
          height: 5px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 9px;
          z-index: 2; }

.subheader {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  background: white;
  display: block;
  height: 60px;
  margin-bottom: 24px;
  width: 100%;
  z-index: -1; }

.content {
  padding: 0; }
  .content .wrapper {
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    .content .wrapper .rider {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
      display: inline-block;
      height: 348px;
      margin: 15px;
      overflow: hidden;
      text-align: left;
      width: 320px; }
      .content .wrapper .rider:hover {
        background: red;
        -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4); }
      .content .wrapper .rider .pic {
        height: 189px;
        overflow: hidden; }
        .content .wrapper .rider .pic img {
          width: 330px; }
      .content .wrapper .rider .riderData {
        background: #fff;
        padding: 21px 30px 0px; }
        .content .wrapper .rider .riderData .name, .content .wrapper .rider .riderData .uciRank {
          color: #08274D;
          font-size: 16px; }
        .content .wrapper .rider .riderData .birth, .content .wrapper .rider .riderData .uciTitle, .content .wrapper .rider .riderData .uciPoints, .content .wrapper .rider .riderData .proWins, .content .wrapper .rider .riderData .granTours, .content .wrapper .rider .riderData .classics {
          color: #7F8FA3;
          font-size: 12px;
          margin-bottom: 2px; }
        .content .wrapper .rider .riderData .team, .content .wrapper .rider .riderData .pwNumber, .content .wrapper .rider .riderData .gtNumber, .content .wrapper .rider .riderData .clNumber {
          color: #08274D;
          font-size: 14px;
          margin: 14px 0px; }
        .content .wrapper .rider .riderData .uciRank {
          margin-top: -2px; }
        .content .wrapper .rider .riderData .uciTitle, .content .wrapper .rider .riderData .uciPoints {
          text-align: right; }
        .content .wrapper .rider .riderData .footer {
          border-top: 1px solid #E4E6E7;
          padding: 20px 0px; }
          .content .wrapper .rider .riderData .footer .proWins, .content .wrapper .rider .riderData .footer .granTours, .content .wrapper .rider .riderData .footer .classics {
            display: inline-block;
            margin-left: 14px; }
          .content .wrapper .rider .riderData .footer .proWins {
            margin-left: 0px; }

.colLeft {
  float: left; }

.colRight {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: hidden; }

.active {
  border-bottom: 4px solid #FC3C2D;
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
